.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px; 
  /* background-image: url('bg.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden; 
  background-color: rgb(243, 247, 250);
}

form {
  width: 100%;
  max-width: 1000px; 
  padding: 15px;
  box-sizing: border-box;
}

.small-width {
  max-width: 101px; 
}

.card {
  width: 100%;
  max-width: 1000px;
  margin: 20px;
}

.card-body {
  padding: 20px;
}

