body {
  background-color: rgb(226, 236, 236);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.body-layout {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.card-container {
  margin: 10px;
}

.second-card {
  margin: 10px;
  margin-right: 200px; /* Adjust this value to move the second card to the left */
}

.content-between-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin: 10px;
  padding: 20px;
  background-color:rgb(226, 236, 236);
  border-radius: 8px;
}

.card-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  flex: 1;
  margin-right: 5px;
}

.btn-primary:last-child {
  margin-right: 0;
}

.light-text {
  color: #888; /* Adjust the color to make it lighter */
  font-size: 0.8em; /* Optionally adjust the font size */
  /* Add any other styles as needed */
}
