.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(243, 247, 250);
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-body {
  padding: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-check-input {
  margin-right: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}
